<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>entry</key>
  <dict>
    <key>bundle</key>
    <string>BBM++byKlash</string>
    <key>cell</key>
    <string>PSLinkCell</string>
    <key>detail</key>
    <string>BBM++byKlashListController</string>
    <key>icon</key>
    <string>BBM++byKlash.png</string>
    <key>isController</key>
    <string>1</string>
    <key>label</key>
    <string>BBM++ by【қłΔѕн۩қѕΔ】</string>
  </dict>
</dict>
</plist>
