Package: com.klashksa.BBM++byKlash
Name: BBM++byKlash
Depends: mobilesubstrate, preferenceloader
Version: 300.0.140.429
Architecture: iphoneos-arm
Description: BBM++ To active the hack go to settings . Hacked by 【қłΔѕн۩қѕΔ】
Maintainer: 【қłΔѕн۩қѕΔ】
Author: 【қłΔѕн۩қѕΔ】
Section: Tweaks
Homepage:https://sites.google.com/view/klashksa1/home
